<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "FES READY" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="turbo-cache-control" content="no-preview">

    <meta property="og:site_name" content="FES READY">
    <meta property="og:title" content="<%= content_for(:title) || 'FES READY' %>">
    <meta name="twitter:title" content="<%= content_for(:title) || 'FES READY' %>">
    <meta property="og:image" content="<%= image_url('fesready_ogp.png') %>">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:image" content="<%= image_url('fesready_ogp.png') %>">
    <meta name="twitter:image:alt" content="FES READY">

    <%= yield :head %>

    <%= tag.meta name: "theme-color", content: "#F95858" %>
    <%= tag.link rel: "manifest", href: pwa_manifest_path %>

    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_path('fesready_favicon.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_path('fesready_favicon.png') %>">

    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_path('fesready_icon.png') %>">
    
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PB0CKT8EH2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PB0CKT8EH2');
    </script>
    
    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="font-sans antialiased bg-gradient-to-b from-sky-200 via-sky-100 to-white pt-16 md:pt-20" 
        data-controller="side-menu" 
        data-action="keydown@window->side-menu#handleKeydown"
        style="--header-offset: 4.5rem; --footer-offset: 6rem; padding-top: var(--header-offset); padding-bottom: var(--footer-offset);">
    <%= render "shared/header" %>
    <%= render "shared/side_menu" %>
    <%= render "shared/flash" %>
    <%= yield %>
    <%= render "shared/footer" %>
  </body>
</html>
